body {
  background-image: url(https://www.walldevil.com/wallpapers/a75/matrix-artwork-morpheus-wallpaper-wallpapers.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
}

p {
  font-size:25px;
  color: white;
}
